* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* background-color
background-image
background-repeat: repeat | no-repeat | repeat-x | repeat-y
background-attachement: scroll | fixed
background-position: top left / 0 0
background-size: cover / contain */

body {
  /* background-color: blanchedalmond;
  background-image: url("assets/girl eating.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain; */

  background: blanchedalmond url("assets/girl eating.avif") no-repeat fixed
    center / cover;
}
.news {
  padding: 5rem 0;
}

.news:nth-of-type(2n + 1) {
  background-color: #fff;
}
