* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
/* flex is always applied to the parent */
/* all the items inside a flexbox by default align horizontally */

/* flex-direction: row | column | row-reverse | column-reverse; */
/* justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly; */
/* align-items: stretch | flex-start | flex-end | center */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
header {
  background: linear-gradient(to right, #ff105f, #ffad06);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 3rem;
}

header ul {
  display: flex;
  list-style: none;
}
header ul a {
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
}
header ul a:hover {
  color: white;
  font-weight: 700;
}
