* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* overflow: visible | hidden | scroll | auto */

/* overflow-x
overflow-y */

.box {
  border: 2px solid;
  padding: 0.5rem;
  width: 50vw;
  /* height: 300px;
    overflow-x: hidden;
    overflow-y: auto; */
}

/* THIS DOESN'T WORK, USE SHORTHAND background */
/* background-color: linear-gradient(to right, red, yellow, green, blue, indigo, violet); */

/* conic-gradient */


body {
  /* background-image: url("assets/background.jpg"); */

  /* background: url(assets/background.jpg) no-repeat center / cover; */

  /* background: linear-gradient(to top right, red, green); */

  background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.6), rgba(0,0,0,0.9));
}
